<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LMS Face VTO Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Accessory
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <!--Glasses-->
                            <li><a *ngIf="mode == 'glasses'" class="dropdown-item"
                                    onclick='WebARRocksMirror.load("assets/3d-models/glasses1.glb")'>Glasses 1</a></li>
                            <li><a *ngIf="mode == 'glasses'" class="dropdown-item"
                                    onclick='WebARRocksMirror.load("assets/3d-models/glasses2.glb")'>Glasses 2</a></li>
                            <li><a *ngIf="mode == 'glasses'" class="dropdown-item"
                                    onclick='WebARRocksMirror.load("assets/3d-models/glasses3.glb")'>Glasses 3</a></li>

                            <!--Lipstick-->
                            <li><a *ngIf="mode == 'lipstick'" class="dropdown-item"
                                    onclick='WebARRocksFaceShape2DHelper.set_uniformValue("LIPS", "lipstickColor", [1.0, 0.0, 0.3])'>Red</a>
                            </li>
                            <li><a *ngIf="mode == 'lipstick'" class="dropdown-item"
                                    onclick='WebARRocksFaceShape2DHelper.set_uniformValue("LIPS", "lipstickColor", [0.0, 0.0, 1.0])'>Blue</a>
                            </li>
                            <li><a *ngIf="mode == 'lipstick'" class="dropdown-item"
                                    onclick='WebARRocksFaceShape2DHelper.set_uniformValue("LIPS", "lipstickColor", [0.0, 0.0, 0.0])'>Black</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mode
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" *ngIf="mode !=='glasses'"
                                    (click)="switchMode('glasses')">Glasses</a></li>
                            <li><a class="dropdown-item" *ngIf="mode !=='lipstick'"
                                    (click)="switchMode('lipstick')">Lipstick</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                Current Mode: {{ mode }}
            </span>
        </div>
    </div>
</nav>

<div class="canvas">
    <router-outlet></router-outlet>
</div>